{
  "PersistenceProviderPackageConfigs": {
    "H2PersistenceProviderPackage": {
      "ConnectionInformation": {
        "password": "encrypt.db.password",
        "username": "{{ env_var("TWX_DATABASE_USERNAME", "") }}"
      }
    }
  }
}
